@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    overflow-x: hidden;
}
/*Navagation*/
.navagation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7.5vh;
    z-index: 100;
}
.navagation-menu ul{
    display: inline;
    list-style: none;
}
.navagation-menu ul li{
    display: inline;
    margin: 2.5vw;
}
.navagation-menu ul li a{
    text-decoration: none;
    color: black;
}
.navagation-logo, .navagation-menu, .navagation-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navagation-logo{
    width: 15%;
    user-select: none;
}
.navagation-logo p{
    font-weight: bold;
    font-size: 3vh;
}
.navagation-logo:hover{
    cursor: default;
}
.navagation-menu{
    width: 70%;
}
.navagation-login{
    width: 15%;
}
.navagation-login p{
    width: 8vw;
    height: 5vh;
    background-color: #2470FF;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
}
.navagation-login p:hover{
    cursor: pointer;
}


/*Body*/
.body-container{
    height: 92.5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.info-container{
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons button{
    width: 10vw;
    height: 5vh;
    background-color: #2470FF;
    border: none;
    border-radius: .5vh;
    margin-top: 1vh;
}
.buttons button:hover{
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 75%;
    border: none;
  }
  
  table th {
    background-color: #2470FF;
    color: black;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    min-width: 7.5%;
  }
  
  table td {
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .15vw;
    padding-bottom: .15vw;
    border-bottom: 1px solid #ddd;
  }

  table tr{
    height: 1vh;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }



  /*Register*/
  .display-area{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    border-radius: .5vw;
    width: 20vw;
    max-width: 100%;
  }

  h1 {
    text-align: center;
    color: #2470FF;
  }



  input[type="text"],
  input[type="password"],
  select {
    width: calc(100% - 2vw);
    padding: 1vh;
    margin-bottom: 1vh;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2470FF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2470FF;
  }

  p {
    text-align: center;
    margin-top: 15px;
  }

  a {
    color: #2470FF;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /*login regiseter*/
  .navagation-login a{
    text-decoration: none;
    color: white;
}

.display-overflow{
  overflow: auto;
  height: 50vh;
}