@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}
/*Navagation*/
.navagation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7.5vh;
}
.navagation-menu ul{
    display: inline;
    list-style: none;
}
.navagation-menu ul li{
    display: inline;
    margin: 2.5vw;
}
.navagation-menu ul li a{
    text-decoration: none;
    color: black;
}
.navagation-logo, .navagation-menu, .navagation-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navagation-logo{
    width: 15%;
    user-select: none;
}
.navagation-logo p{
    font-weight: bold;
    font-size: 3vh;
}
.navagation-logo:hover{
    cursor: default;
}
.navagation-menu{
    width: 70%;
}
.navagation-login{
    width: 15%;
}
.navagation-login p{
    width: 8vw;
    height: 5vh;
    background-color: #FDD33D;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
}
.navagation-login p:hover{
    cursor: pointer;
}


/*Body*/
.body-container{
    height: 92.5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.buttons button{
    width: 20vw;
    height: 10vh;
    background-color: #FDD33D;
    border: none;
    border-radius: .5vh;
    margin-top: 1vh;
}
.buttons button:hover{
    cursor: pointer;
}
/* Add these styles to your existing CSS file */

/* Table */
table {
    border-collapse: collapse;
    width: 75%;
    
  }
  
  /* Table Header */
  table th {
    background-color: #FDD33D;
    color: black;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }
  
  /* Table Rows */
  table td {
    
    border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
  }
  
  /* Alternate row background color for better readability */
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect on table rows */
  table tr:hover {
    background-color: #ddd;
  }
  